{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>2018 計財系傷心小棧賭神慈善大賽</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Ubuntu+Condensed" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">

        <div class="desk">
            <div class="empty"></div>
            <div class="top">
                <div class="card empty"><div class="face"></div></div>
            </div>
            <div class="empty"></div>

            <div class="left">
                <div class="card empty"><div class="face"></div></div>
            </div>
            <div class="empty"></div>
            <div class="right">
                <div class="card empty"><div class="face"></div></div>
            </div>

            <div class="empty"></div>
            <div class="bottom">
                <div class="card empty"><div class="face"></div></div>
            </div>
            <div class="empty"></div>
        </div>
    </div>

    <div id="player">
        <div class="card spades rank1"><div class="face"></div></div>
        <div class="card spades rank2"><div class="face"></div></div>
        <div class="card spades rank3"><div class="face"></div></div>
        <div class="card spades rank4"><div class="face"></div></div>
        <div class="card spades rank5"><div class="face"></div></div>
        <div class="card spades rank6"><div class="face"></div></div>
        <div class="card spades rank7"><div class="face"></div></div>
        <div class="card spades rank8"><div class="face"></div></div>
        <div class="card spades rank9"><div class="face"></div></div>
        <div class="card spades rank10"><div class="face"></div></div>
        <div class="card spades rank11"><div class="face"></div></div>
        <div class="card spades rank12"><div class="face"></div></div>
        <div class="card spades rank13"><div class="face"></div></div>
    </div>
  </body>
</html>