{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>2018 計財系傷心小棧賭神慈善大賽</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Ubuntu+Condensed" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">

        <div class="desk">
            <div class="empty"></div>
            <div class="top player player-2">
                <div class="card empty"><div class="face"></div></div>
            </div>
            <div class="empty"></div>

            <div class="left player player-1">
                <div class="card empty"><div class="face"></div></div>
            </div>
            <div class="empty"></div>
            <div class="right player player-3">
                <div class="card empty"><div class="face"></div></div>
            </div>

            <div class="empty"></div>
            <div class="bottom player player-0">
                <div class="card empty"><div class="face"></div></div>
            </div>
            <div class="empty"></div>
        </div>
    </div>

    <div id="player">
        <button class="btn btn-dark"></button>
        <div class="cards"></div>
    </div>

    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>